<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Vue Dischi</title>
</head>
<body>

    <div id="app">
        <!-- header -->
        <header>
            <div class="container">
                <img src="./logo.png" alt="logo">

                <label for="genres">
                    Filtra gli album per genere:
                </label>

                <select v-model="selected" id="genres">
                    <option value="all">
                        Tutti gli album
                    </option>
                    <option v-for="el in genres" :value="el">
                        {{ el }}
                    </option>
                </select>
            </div>
        </header>
        <!-- /header -->

        <!-- main -->
        <main>
            <div class="container">
                <div v-for="el in disks" v-if="check(el)" class="cd">
                    <img :src="el.poster" :alt="el.title + ' album photo'">

                    <h3>
                        {{ el.title }}
                    </h3>

                    <div class="bottom">
                        <div class="author">
                            {{ el.author }}
                        </div>

                        <div class="year">
                            {{ el.year }}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- /main -->
    </div>

    <script src="./script.js"></script>
</body>
</html>